@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="intro">
    <h2>ihale</h2>
    <h2> değerlendirme</h2>
    <h2> sistemine</h2>
    <h2> hoş geldiniz.</h2>
    <br />
    <h6>Kastamonu İl Özel İdaresi<br />
    ihaleler sayfasından ihaleleri görebilirsiniz.<br />tüm ihaleler için tıklayınız.</h6>

    <h6>tüm hakları saklıdır.</h6>
</div>